ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=Change_this_dev_password_123!
MSSQL_PID=Developer

RABBITMQ_DEFAULT_USER=ironbook
RABBITMQ_DEFAULT_PASS=change_this_rabbit_password

ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=190027;User Id=sa;Password=Change_this_dev_password_123!;TrustServerCertificate=True;
RabbitMQ__Host=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__Username=ironbook
RabbitMQ__Password=change_this_rabbit_password
Jwt__Issuer=IronBook
Jwt__Audience=IronBookClients
Jwt__SigningKey=replace_with_a_long_local_development_key
